body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  padding-bottom: 500px;
}

h1{
  color: red;
}

.red-title{
  background-color: black;
  color: red;
  padding: 15px;
  border: solid 5px red;
}

.title{
  background-color: black;
  color: white;
}